apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-test1-kube-prometheus-stac-alertmanager 
  namespace: monitor
  labels:
    app: kube-prometheus-stack
    chart: kube-prometheus-stack
    release: kubeprometheus-stack
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 2m

    route:
      receiver: 'discord'
      group_by: ['alertname', 'namespace']
      group_wait: 30s
      group_interval: 1m
      repeat_interval: 10m

      routes:
        - match:
            alertname: Watchdog
          receiver: 'null'


    receivers:
      - name: 'discord'
        discord_configs:
          - webhook_url: 'https://discord.com/api/webhooks/1466644318235263129/tlqcBjvYRPzFLyhuqju_QDagErBQAJ9f6SHgd3CzP9kCeIkS2QyEKj-fHY34keKAor3D'
            send_resolved: true
            title: '{{ .CommonLabels.alertname }}'
            message: |-
              {{ range .Alerts }}
              **Alert:** {{ .Labels.alertname }}
              **Severity:** {{ .Labels.severity }}
              **Instance:** {{ .Labels.namespace }}/{{ if .Labels.pod }}{{ .Labels.pod }}{{ else }}N/A{{ end }}
              **Description:** {{ .Annotations.description }}
              **Summary:** {{ .Annotations.summary }}
              **Status:** {{ .Status | toUpper }}
              {{ end }}


      - name: 'null'